<div class="row">
  <canvas id="renderCanvas"></canvas>
  <div id="zeit">{{ hours }}:{{ minutes }}:{{ seconds }}</div>
  <nb-card id="geschafftDiv" (click)="close()" *ngIf="isOpen()">
    <nb-card-header><nb-icon icon="close-outline"></nb-icon></nb-card-header>
    <nb-card-body>
      <h1>Herzlichen Glückwunsch!</h1>
      <p>
        Würfel in einer Zeit von<br>
        <span status="primary">{{ hours }} Stunden {{ minutes }} Minuten und {{ seconds }} Sekunden</span><br>
        zusammengebaut!
      </p>
    </nb-card-body>
  </nb-card>
  <nb-card id="geschafftDiv" (click)="exitverloren()" *ngIf="verloren">
    <nb-card-header><nb-icon icon="close-outline"></nb-icon></nb-card-header>
    <nb-card-body>
      <h1>Du hast Verloren!</h1>
      <p>
        Dein Gegner war leider schneller als du.
      </p>
    </nb-card-body>
  </nb-card>
  <nb-card id="timerDiv" style="background: rgba(0,0,0,0.5)" *ngIf="multiplayer()">
    <nb-card-body>
      <p id="countdown">{{countdown}}</p>
    </nb-card-body>
  </nb-card>
</div>
