
        
        <button (click)="cbottn('yup')"nbButton status="basic">{{ data.yup }}</button>
        R: Y-Axis <b>UP</b><br><br><br>
        <button (click)="cbottn('ydown')"nbButton status="basic">{{ data.ydown }}</button>
        F: Y-Axis <b>DOWN</b><br><br><br>
        
        <button (click)="cbottn('zup')"nbButton status="basic">{{ data.zup }}</button>
        W: Z-Axis <b>UP</b><br><br><br>
        <button (click)="cbottn('zdown')"nbButton status="basic">{{ data.zdown }}</button>
        S: Z-Axis <b>DOWN</b><br><br><br>

        <button (click)="cbottn('xup')"nbButton status="basic">{{ data.xup }}</button>
        D: X-Axis <b>UP</b><br><br><br>
        <button (click)="cbottn('xdown')"nbButton status="basic">{{ data.xdown }}</button>
        A: X-Axis <b>DOWN</b><br><br><br>


        <button (click)="setDefault()" nbButton status="basic">Set to Default</button>
        
      