<nb-card>
    <nb-card-body class="example-items-col">
        <input type="text" nbInput fullWidth status="primary" placeholder="Username">
        <input type="email" nbInput fullWidth status="primary" placeholder="Email address">
        <input type="password" nbInput fullWidth status="primary" placeholder="Password">
        <input type="password" nbInput fullWidth status="primary" placeholder="Confirm Password">
        <nb-checkbox status="primary">Agree to <a href="#">Terms & Conditions</a></nb-checkbox>
        <button nbButton status="primary">Register</button>
    </nb-card-body>
</nb-card>